.aula-container {
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    background-color: #f9f9f9;
  
    .top-bar {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
  
      .back-button {
        background: none;
        border: none;
        font-size: 28px;
        cursor: pointer;
        color: #800020;
  
        .material-icons {
          font-size: 28px;
        }
      }
  
      h1 {
        font-size: 26px;
        color: #800020;
        flex: 1;
        text-align: center;
      }
    }
  
    .horarios {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 20px;
  
      .horario-block {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: grid;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        transition: transform 0.2s;
        border: solid grey .7px;
  
        &:hover {
          transform: scale(1.02);
        }
  
        .horario-info {
          font-weight: lighter;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
          .horario{
            width: 70%;
            display: flex;
            justify-content: space-between;
            border-right: grey solid 1px;
            padding: 0 5px;
            .hora-infox{
              padding: 0 5px;
              border-right: solid grey 1px;
            }
            .modalidad-info{
              padding-left: 5px;
            }
          }
          select {
            padding: 5px;
            font-size: 14px;
            border-radius: 6px;
            border: 1px solid #ccc;
            background-color: #fff;
            cursor: pointer;
          }
        }
  
        .profesor-info {
          font-size: 14px;
          color: #333;
        }
      }
    }
  }
  